.jumbotron {
  text-align: center;
  background: none;
  padding-top: 50px;
  padding-bottom: 0;
  color: #800000;
}

body {
  background-color: #FFF
}

.carousel-caption{
  color: #000000
}
.sectionLight{
  background-color: #eceeef;
  padding: 2em;
}
